.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  /* padding: 2.5em; */
  /* border-radius: 25px; */
  transition: 0.4s ease-in-out;
  /* box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px; */
  /* height: 70vh; */
  width: 100vw;
  /* margin-left: 10vw; */
}

.heading {
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: 0.4s ease-in-out;
  padding: 15px;
  margin-top: 20px;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.form .btn {
  /* margin-top: 2em; */
  align-self: center;
  /* width: 450px; */
  /* padding: 0.7em; */
  /* padding-left: 1em; */
  /* padding-right: 1em; */

  border-radius: 10px;
  border: none;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: 0.2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}
